* {
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    /* transition: background-color 2s; */
}

.court-container {
    display: grid;
    width: 90vw;
    height: 90vh;
    grid-template-columns: 1fr 1.17fr 1.17fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;  
    row-gap: .6vh;
    column-gap: 0.6vh;
    background-color: black;
    border: .6vh black solid;
    /* transition: border linear 1s;
    transition: background-color linear 1s; */
}

.doubles-alley-top-left {
    background-color: red;
    grid-column: 1 / 3;
}

.doubles-alley-top-right {
    background-color: yellow;
    grid-column: 3 / 5;
}

.no-mans-land-left {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.service-boxes-left-top {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.service-boxes-left-bottom {
    background-color: black;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.service-boxes-right-top {
    background-color: red;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.service-boxes-right-bottom {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.no-mans-land-right {
    background-color: black;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.doubles-alley-bottom-left {
    background-color: yellow;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.doubles-alley-bottom-right {
    background-color: blue;
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

.browser-data {
    font-family: sans-serif;
    font-size: 12px;
    text-align: right;
    display: inline;
    position: absolute;
    right: 0; 
    bottom: 0;
    color: #ff0000;
    padding: 5px;
}

/* maybe there's audio context */
/* maybe there's a dot that shows you where to size your browser */

/* tennis court aspect ratio
78 ft x 36 ft (doubles) = 2.167 = 13 / 6
78 ft x 27 ft (singles) */

/* can i define a more accurate range so there's a higher chance user activates media query? */


/* between 1.33 - 1.67 */
@media (8/6 <= aspect-ratio <= 10/6) {
    html {
        background-color: #9EB1C7;
    } 
    .browser-data {
        color: #BF8000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #B6C9AE;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #364AAE;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #B64A2E;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #B6C92E;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #364A2E;
    }
}

/* between 1.67 - 2 */
@media (10/6 <= aspect-ratio <= 11/6) {
    html {
        background-color: #6D8AAB;
    }
    .browser-data {
        color: #9FC000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #91AE85;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #516F85;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #916F45;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #91AE45;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #516F45;
    }
}

@media (11/6 <= aspect-ratio <= 12/6) {
    html {
        background-color: #55779D;
    }
    .browser-data {
        color: #8FE000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #7FA171;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #5F8171;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #7F8151;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #7FA151;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #5F8151;
    }
}

/* realistic colors */
/* between 2 - 2.33 */
/* aspect ratio straddles 2.167 */
@media (12/6 <= aspect-ratio <= 14/6) {
    html {
        background-color: #3c638e; 
    }
    .browser-data {
        color: chartreuse;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .court-container > * {
        background-color: #6c935c;
    }
}  

@media (14/6 <= aspect-ratio <= 15/6) {
    html {
        background-color: #55779D;
    }
    .browser-data {
        color: #8FE000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #7FA171;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #5F8171;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #7F8151;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #7FA151;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #5F8151;
    }
}

/* between 2.33 - 2.67 */
@media (15/6 <= aspect-ratio <= 16/6) {
    html {
        background-color: #6D8AAB;
    }
    .browser-data {
        color: #9FC000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #91AE85;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #516F85;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #916F45;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #91AE45;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #516F45;
    }
}

/* between 2.67 - 3 */
@media (16/6 <= aspect-ratio <= 18/6) {
    html {
        background-color: #9EB1C7;
    } 
    .browser-data {
        color: #BF8000;
    }
    .court-container {
        background-color: white;
        border: .6vh white solid;
    }
    .service-boxes-right-bottom, .service-boxes-left-top {
        background-color: #B6C9AE;
    }
    .doubles-alley-bottom-right, .no-mans-land-left {
        background-color: #364AAE;
    }
    .doubles-alley-top-left, .service-boxes-right-top {
        background-color: #B64A2E;
    }
    .doubles-alley-top-right, .doubles-alley-bottom-left {
        background-color: #B6C92E;
    }
    .service-boxes-left-bottom, .no-mans-land-right {
        background-color: #364A2E;
    }
}